extends template/header

block content
    .global-header
        .main-wrap
            a(href="/day/#{date}",target="_self",title="知乎日报")
                i.web-logo
    .main-wrap.content-wrap
        != body
    .footer #{time}ms · 内容转载自 知乎日报 ，项目开源于 <a href="https://github.com/faceair/zhihudaily">Github</a>
