body {
    background: #fff;
    padding-top: 70px;
    font-family: "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", sans-serif;
}
img {
    vertical-align: middle;
    color: transparent;
    font-size: 0;
}
blockquote, sup {
    border-left: 3px solid #D0E5F2;
    font-style: normal;
    padding: 0 0 0 .5em;
    margin: .5em 0;
    display: block;
    line-height: 1.7em;
    vertical-align:baseline;
    font-size: 100%;
}
ul, ol {
    padding-left: 20px;
}
a:hover, a:focus {
    text-decoration: none;
}
.web-logo {
    width: 126px;
    height: 42px;
    background-image:url('/img/Web_Logo.png');
    background-repeat:no-repeat;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
.global-header {
    width: 100%;
    position: absolute;
    top:0;
    z-index: 9990;
    height: 70px;
    background-color: #009dd7;
    color: #FaFcFe;
}
.global-header .title {
    font-size: 24px;
    font-weight: 100;
    margin: 0 0 0 63px;
}
.global-header .main-wrap {
    height: 70px;
    position: relative;
    line-height: 70px;
}
.global-header .main-content {
    height: 70px;
    position: relative;
    line-height: 70px;
}
.sprite-ico-Header_Logo2x {
    position: absolute;
    bottom: 0;
}
.link {
    float: right;
    margin-right: 5px;
}

.link .button {
    float: left;
    display: inline-block;
    height: 46px;
    line-height: 46px;
    width: 100px;
    background-color: #1cade9;
    margin: 12px;
    color: white;
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    font-size: 14px;
}

.link .icon {
    float: left;
    height: 32px;
    width: 32px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
}
.link .link-search,
.link .link-rss {
    padding: 19px 1rem;
    float: left;
}
.link .link-search .icon {
    background-image: url('/img/search-icon.png');
}
.link .link-rss .icon {
    background-image: url('/img/rss-icon.png');
}

.main-content {
    max-width: 960px;
    min-width: 300px;
    margin: 0 auto;
    overflow: hidden;
}
.row {
    padding: 0 10px;
}
h2.section-title {
    font-weight: normal;
    font-size: 26px;
    margin: 0;
    padding: 0 14px 20px;
    border-bottom: solid 1px #ccc;
}
.thumbnail{
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    display: block;
    z-index: 2;
}
.thumbnail .mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(204, 204, 204, 0);
    background-image: -webkit-gradient(linear, left 0%, left 100%, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0.7)));
    background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), 0%, rgba(0, 0, 0, 0.7), 100%);
    background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#b3000000', GradientType=0);
}
.thumbnail img {
    display: block;
    width: 293px;
    height: 293px;
}
.thumbnail .title {
    font-weight: normal;
    font-size: 18px;
    color: #fff;
    bottom: 0;
    text-overflow: ellipsis;
    position: absolute;
    overflow: hidden;
    left: 0;
    line-height: 26px;
    display: block;
    margin: 0;
    width: 100%;
    min-height: 6rem;
    padding: 1rem;
}
.thumbnail .display_date {
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    position: absolute;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 26px;
    display: block;
    text-align: right;
    float: left;
    top: 1rem;
    right: 1rem;
    margin: 0;
}
.thumbnail:hover {
    outline: solid 2px #33a9d8;
}
.arrow {
    position: fixed;
    top: 50%;
    z-index: 9990;
    padding: 2rem;
    background: #f4f4f4;
    text-align: center;
    right: 1rem;
    border: 1px solid #eee;
}
.backtotop {
    position: fixed;
    bottom: 70px;
    left: 50%;
    margin-left: 400px;
    z-index: 19;
}
.arrow.pre{
    right: auto;
    left: 1rem;
    float: left;
}
.arrow .text{
    display: none;
}
.arrow:hover{
    border-color: #ddd;
}
.share{
    padding:20px 20px;
}
.share span{
    margin-right: 1rem;
}
.bdsharebuttonbox {
    display: inline-block;
    vertical-align: middle;
    width: 7em;
}
.icon-arrow-right {
    background-image: url('/img/share-icons.png');
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
    background-position: -70px 0px;
    width: 12px;
    height: 20px;
}
.icon-arrow-right.left{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.icon-arrow-right.top{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}
.main-wrap {
    max-width: 720px;
    min-width: 300px;
    margin: 0 auto;
}
.content-wrap {
    font-family: "lucida grande", "lucida sans unicode", lucida, "Helvetica Neue", helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    overflow: hidden;
}
.content-wrap a {
    word-break: break-all;
}
.headline {
    border-bottom: 4px solid #f6f6f6;
}
.headline-title.onlyheading {
    margin: 20px 0;
}
.headline img {
    max-width: 100%;
    vertical-align: top;
}
html.no-touch .headline-background:hover {
    background-color: #fdfdfd;
}
.headline-background-link {
    line-height: 2em;
    position: relative;
    padding: 25px 25px;
    display: block;
    text-decoration: none;
}
.headline-background .heading{
    color: #999;
    font-size: 20px;
    margin-bottom: 5px;
}
.headline-background .heading-content {
    font-size: 24px;
    color: #444;
    text-decoration: none;
}
.img-wrap {
    position: relative;
    max-height: 420px;
    overflow: hidden;
}
.img-wrap img {
    margin-top: -18%;
    width: 100%;
}
.img-wrap .img-source {
    position: absolute;
    bottom: 10px;
    z-index: 1;
    font-size: 12px;
    color: rgba(255,255,255,.6);
    right: 40px;
    text-shadow: 0px 1px 2px rgba(0,0,0,.3);
}
.img-mask {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 25%, rgba(0,0,0,0.6) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 25%,rgba(0,0,0,0.6) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,0) 25%,rgba(0,0,0,0.6) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 25%,rgba(0,0,0,0.6) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(0,0,0,0) 25%,rgba(0,0,0,0.6) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 ); /* IE6-9 */
}
.headline-title {
    font-weight: bold;
    margin: 20px 0 10px;
    font-size: 30px;
    line-height: 1.2em;
    padding: 0 40px;
    color: #222;
}
.img-wrap .headline-title {
    margin: 20px 0;
    bottom: 10px;
    z-index: 1;
    position: absolute;
    color: white;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.headline-summary {
    padding: 20px 40px 0;
}

.meta {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    color: #b8b8b8;
}
.meta span {
    vertical-align: middle;
}
.meta .source-icon {
    width: 20px;
    height: 20px;
}
.meta .time {
    float: right;
    margin-top: 2px;
}
.meta .source-icon {
    margin-right: 4px;
}
.meta .source {
    vertical-align: middle;
}

.content {
    font-size: 16px;
    color: #444;
    line-height: 2em;
    margin: 10px 0 25px;
}
.content img{
    max-width: 100%;
    margin: 10px 0;
    display: block;
}
.content a {
    color: #105CB6;
    text-decoration: none;
}
.content a:hover {
    text-decoration: underline;
}
.view-more {
    text-align: right;
    line-height: 28px;
    float: right;
}
.view-more a{
    color: #698ebf;
    font-size: 14px;
    text-decoration: none;
}
html.no-touch .view-more a:hover {
    text-decoration: underline;
}

.question {
    padding: 0 20px;
    overflow: hidden;
}
.question + .question {
    border-top: 4px solid #f6f6f6;
}

.question-title{
    font-weight: bold;
    font-size: 22px;
    line-height: 1.4em;
    color: #222;
    margin: 25px 0;
}

.meta .author {
    color: #444;
}
.meta .avatar {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    margin-right: 5px;
}
.meta .bio {
    color: #999;
}
.answer + .answer {
    border-top: 2px solid #f6f6f6;
    padding-top: 30px;
}
.footer {
    padding: 40px 0 20px;
    text-align: center;
    color: #b8b8b8;
    font-size: 13px;
}
.footer a {
    color: #b8b8b8;
    text-decoration: none;
}
html.no-touch .footer a:hover {
    text-decoration: underline;
}
@media (max-width: 860px) {
    .backtotop {
        display: none;
    }
}
@media (max-width: 767px) {
    .thumbnail img {
        display: block;
        width: 100%;
        height: 250px;
    }
    .thumbnail a {
        width: 250px;
    }
    .arrow{
        position: relative;
        width: 45%;
        display: inline-block;
        padding: 1rem 2rem;
    }
    .arrow.next{
        float: right;
    }
    .arrow .text{
        display: inline-block;
        color: #666;
        margin: 0 2rem;
    }
}
@media (max-width: 480px) {
    blockquote, sup {
        line-height: 1.4em;
    }
    .share{
        padding:10px 10px;
    }
    .web-logo {
        margin-left: 0;
    }
    .global-header .main-wrap {
        margin: 0 10px;
        position: relative;
    }
    .footer {
        padding: 10px 0 15px;
    }
    .img-wrap .headline-title {
        bottom: 5px;
    }
    .content {
        line-height: 1.6em;
        margin: 10px 0 20px;
        font-size: 17px
    }
    .img-wrap .img-source {
        right: 10px !important;
        font-size: 9px;
    }
    .headline-background-link {
        padding: 20px 20px 20px 20px !important;
    }
    .headline-title {
        font-size: 21px;
        padding: 0 10px !important;
    }
    .question-title {
        font-size: 19px;
        margin: 20px 0;
    }
    .headline-background .heading {
        font-size: 15px !important;
        margin-bottom: 8px;
        line-height: 1em;
    }
    .headline-background .heading-content{
        font-size: 17px !important;
        line-height: 1.2em;
    }
    .question {
        padding: 0 10px !important;
    }
    .button {
        width: 60px;
    }
    .button i {
        margin-right: 0;
    }
    .answer + .answer {
        padding-top: 20px;
    }
    .button span {
        display: none;
    }
    a.page-btn {
        height: 40px;
        line-height: 40px;
        width: 250px;
        font-size: 15px;
    }
    .view-more {
        margin-bottom: 25px;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 200/100), only screen and (min-device-pixel-ratio: 2) {
    .icon-arrow-right {
        background-image: url('/img/share-icons@2x.png') !important;
        -webkit-background-size: 82px 55px;
        -moz-background-size: 82px 55px;
        background-size: 82px 55px;
    }
    .web-logo {
        background-image: url('/img/Web_Logo@2x.png') !important;
        -webkit-background-size: 126px 42px;
        -moz-background-size: 126px 42px;
        background-size: 126px 42px;
    }
}